.container
{
  max-width:1080px;
  margin:20px auto;
  padding: 200px;
  padding-top:20px;
  padding-bottom:20px;
  min-height: 500px;
  border:1px solid black;
  border-radius: 20px;
}
.upper
{
  display:flex;
  flex-direction: row;
  opacity: 0.5;
  justify-content: space-between;
  align-items: center;
}
.lower{
   opacity:0.8;
}